<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<VEF_GeneralTitle>Geral</VEF_GeneralTitle>
	<CSGTitle>Geração de estruturas personalizadas:</CSGTitle>
	<CSGLog>Ativar log de depuração de geração de estrutura: </CSGLog>

	<VEF_TPTitle>Patches alternáveis</VEF_TPTitle>
	<NeedRestart>Todas as configurações precisam de uma reinicialização para serem aplicadas</NeedRestart>
	<XPatchFound>{0} patches encontrados</XPatchFound>

	<VEF.WeatherDamages>Danos climáticos</VEF.WeatherDamages>
	<VEF.EnableWeatherDamage>{0}</VEF.EnableWeatherDamage>
	<FDTitle>Descoberta de Facção</FDTitle>
	<NeedToBeInGame>Você precisa primeiro carregar um save</NeedToBeInGame>
	<AskForPopUp>Adicionar facção(ões)</AskForPopUp>
	<AskForPopUpExplained>Clique para ser perguntado sobre cada facção se você deseja que ela seja adicionada ao seu jogo</AskForPopUpExplained>
	<CanAddXFaction>{0} facção(ões) podem ser adicionadas ao seu save atual</CanAddXFaction>

	<VEF.DisableModSourceReport>Desativar relatórios de origem do mod</VEF.DisableModSourceReport>

	<VEF.Shields.Search>Pesquisar: </VEF.Shields.Search>
	<VEF.Shields.OnlyShowEquipped>Mostrar apenas escudos equipados</VEF.Shields.OnlyShowEquipped>
	<VEF.Shields.OnlyShowEquippedDesc>Apenas mostra escudos que um peão possui atualmente. Caso contrário, todos os escudos que o peão pode equipar são exibidos.</VEF.Shields.OnlyShowEquippedDesc>
	<VEF.Shields.ShowMeleeWeapons>Mostrar armas de combate corpo a corpo</VEF.Shields.ShowMeleeWeapons>
	<VEF.Shields.ShowRangeWeapons>Mostrar armas de longo alcance</VEF.Shields.ShowRangeWeapons>
	<VEF.Shields.ResetModSettingsToDefault>Restaurar configurações do mod para o padrão</VEF.Shields.ResetModSettingsToDefault>
	<VEF.Shields.ExplanationTitle>Definir armas para serem utilizáveis ou não utilizáveis com escudos.</VEF.Shields.ExplanationTitle>
	
	<VEF_DisableTextureCaching>Desativar Cache de Texturas</VEF_DisableTextureCaching>
	<VEF_EnablePipeSystemNoStorageAlert>Ativar alerta de ausência de armazenamento no Sistema de Tubos</VEF_EnablePipeSystemNoStorageAlert>
	<VEF_FactionDiscovery>Descoberta de Facção</VEF_FactionDiscovery>
	<VEF_CustomStructureGeneration>Geração de Estrutura Personalizada:</VEF_CustomStructureGeneration>
	<VEF_TextureVariations>Variações de Textura:</VEF_TextureVariations>
	<VEF_VerboseLogging>Registro detalhado (Verbose logging)</VEF_VerboseLogging>
	<VEF_UnforbidMinedOres>Permitir minérios extraídos</VEF_UnforbidMinedOres>
	<VEF_Never>Nunca</VEF_Never>
	<VEF_HomeArea>Área Inicial</VEF_HomeArea>
	<VEF_Always>Sempre</VEF_Always>
	
	<VEF_HomeAreaDesc>Minérios minerados por peões são apenas desautorizados se minerados na área demarcada como 'Casa'.</VEF_HomeAreaDesc>
	<VEF_AlwaysDesc>Minérios minerados por peões são sempre desautorizados.</VEF_AlwaysDesc>
	
	<VEF_PipeSystemSettings>Configurações do Sistema de Tubos:</VEF_PipeSystemSettings>
	<VEF_DisableTextureVariations>Desativar Variações de Textura</VEF_DisableTextureVariations>
	<VEF_DisableBuildingDamageFromWeather>Desativar dano a edifícios por clima</VEF_DisableBuildingDamageFromWeather>
	
</LanguageData>